// html {font-size:16px !important}
// body {line-height: 1.25 !important}

.side-bar {background-color: #DDF4FF !important;}
a,.icon {color: #096ADA !important;}

.text-purple-000, .bg-purple-000 {
 color:#096ADA !important
}

::selection {
 background:#096ADA !important
}

.search-input:focus+.search-label .search-icon {
 color:#096ADA !important
}

.nav-list .nav-list-item .nav-list-link:hover,.nav-list .nav-list-item .nav-list-link.active {
 background-image:none !important;
 background-color: #b8e3fd !important;
}
.site-title:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

.site-button:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

.nav-list .nav-list-item .nav-list-expander:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

a:not([class]):hover {
 background-image: linear-gradient(#096ADA 0%, #096ADA 100%) !important;
}

.main-content .anchor-heading svg {
  color: #096ADA !important;
}

.site-footer {display: none;}

.sc {font-feature-settings: "smcp","c2sc";}