.side-bar {background-color: #DDF4FF !important;}
a {color: #096ADA !important;}


.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
 background-image:#b8e3fd !important
}
.site-title:hover {
 background-image:#b8e3fd !important
}

.site-button:hover {
 background-image:#b8e3fd !important
}

.nav-list .nav-list-item .nav-list-expander:hover {
 background-image:#b8e3fd !important
}

a:not([class]) {
 background-image:linear-gradient(#eeebee 0%, #eeebee 100%);
 background-repeat:repeat-x;
 background-position:0 100%;
 background-size:1px 1px
}

a:not([class]):hover {
 background-image:#096ADA;
 background-size:1px 1px
}