@font-face {
    font-family: 'Commish';
    src: url('/furman/fonts/Commissioner-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Commish';
    src: url('/furman/fonts/Commissioner-Italic.otf') format('opentype');
    font-style: italic;
}
@font-face {
    font-family: 'Commish';
    src: url('/furman/fonts/Commissioner-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Commish';
    src: url('/furman/fonts/Commissioner-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-It.otf') format('opentype');
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-BoldIt.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-Semibold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('/furman/fonts/SourceSerifPro-SemiboldIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Neohellenic';
    src: url('/furman/fonts/Neohellenic-Regular.otf') format('opentype');
}

// @layer {
// 	@media (min-width: 31.25rem) {
//  		html {font-size:18px !important}
// 	}
// 	html {font-size:16px;
// }

// $font-factor: 1.125;

$font-size-1: $font-size-1 * $font-factor;
$font-size-1-sm: $font-size-1-sm * $font-factor;
$font-size-2: $font-size-2 * $font-factor;
$font-size-3: $font-size-3 * $font-factor;
$font-size-4: $font-size-4 * $font-factor;
$font-size-5: $font-size-5 * $font-factor;
$font-size-6: $font-size-6 * $font-factor;
$font-size-7: $font-size-7 * $font-factor;
$font-size-8: $font-size-8 * $font-factor;
$font-size-9: $font-size-9 * $font-factor;
$font-size-10: $font-size-10 * $font-factor;
$font-size-10-sm: $font-size-10-sm * $font-factor;


body {
	font-family: 'Commish' !important;
	font-feature-settings:"pnum","onum";
}

$body-text-color: #000 !important;
$content-line-height: 1.4 !important;

h1, h2, h3, h4, h5, h6, #toctitle {
	font-weight: 600 !important;
	font-feature-settings:"pnum","lnum";}

.site-header {border-bottom:none !important;}

.side-bar {background-color: #DDF4FF !important;}
a,.icon {color: #096ADA !important;}

.text-purple-000, .bg-purple-000 {
 color:#096ADA !important
}

::selection {
 background:#096ADA !important
}

.search-input:focus+.search-label .search-icon {
 color:#096ADA !important
}

.nav-list .nav-list-item .nav-list-link:hover,.nav-list .nav-list-item .nav-list-link.active {
 background-image:none !important;
 background-color: #b8e3fd !important;
}
.site-title:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

.site-button:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

.nav-list {font-feature-settings: "lnum"}

.nav-list .nav-list-item .nav-list-expander:hover {
 background-image:none !important;
 background-color: #b8e3fd !important;
}

a:not([class]):hover {
 background-image: linear-gradient(#096ADA 0%, #096ADA 100%) !important;
}

.main-content .anchor-heading svg {
  color: #096ADA !important;
}

blockquote {
  border-left: 4px solid #DDF4FF;
  padding: 0 25px;
  margin-left: unset;
  font-size: smaller;
}

.site-footer {display: none;}

.sc {font-feature-settings: "smcp","c2sc";}
.color {color:#096ADA}
.grk {
  font-family: 'Neohellenic' !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: larger !important;
}

/* Table redo */
.table-wrapper
	{border-radius:unset !important}
.testing
	{border-collapse: collapse !important;
	border-radius:10px !important;
	border:1px solid #ecedee !important;}
.testing th, .testing td
	{background-color: unset !important;
	border-left:unset !important;
	min-width:min-content !important;}
.testing thead th:nth-child(1), thead th:nth-child(2)
	{width: 6ch !important;}
.mwf tr:nth-child(6n+3),
.mwf tr:nth-child(6n+4),
.mwf tr:nth-child(6n+5)
	{background-color: #ddf4ff74 !important;}
.tr tr:nth-child(4n+3),
.tr tr:nth-child(4n+4)
	{background-color: #ddf4ff74 !important;}
.mtrf tr:nth-child(8n+4),
.mtrf tr:nth-child(8n+5),
.mtrf tr:nth-child(8n+6),
.mtrf tr:nth-child(8n+7)
	{background-color: #ddf4ff74 !important;}
